.avatar {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.organisationContainer {
    display: flex;
    justify-content: space-around;
}

.notifications {
    align-self: center;
    color: white;
}

.organisationName {
    padding: 28px 0;
    color: white;
    text-align: center;
}