.site-layout .site-layout-background {
    background: #fff;
}

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.collapsedSideBar {
    transition: margin-left 0.3s ease;
    margin-left: 80px;
}

.notCollapsedSideBar {
    transition: margin-left 0.3s ease;
    margin-left: 250px;
}
